*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search{
    background-color: rgba(63, 63, 63, 0.86);
}

.title{
    background-color: rgba(63, 63, 63, 0.86);
}

.city-box{
    margin-top: 80px;
}


.city{
    margin: 20px;
}